[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_12000A001653304B4D323431-if00
restart_method: command

[static_digital_output onboardLED]
pins: !expander:PA4

#[output_pin test_fan]
#pin: PC7
#pwm: True
#cycle_time: 0.010
#hardware_pwm: false
#value: 0.0
#scale: 255
