# Chamber heater for the K1 Max.
# Pinout:
#   PA0 = Heater fan
#   PC5 = Built-in chamber temperature probe
#   expander:PA5 = PTC heater relay output
#   expander:PA6 = Heater temperature probe

[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_12000A001653304B4D323431-if00
restart_method: command

# We will reuse the chamber temperature sensor (PC5) for the chamber heater measure,
# so we need to add it to the duplicate pin overrides.
[duplicate_pin_override]
pins: PC5

[static_digital_output expander_led]
pins: !expander:PA4

[temperature_sensor chamber_heater]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: expander:PA6 # T0
min_temp: 0
max_temp: 90

[heater_generic chamber]
heater_pin: expander:PA0
max_power: 0.6
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_Kp: 63.418
pid_Ki: 1.342
pid_Kd: 749.125
min_temp: 0
max_temp: 80

[verify_heater chamber]
max_error: 400
check_gain_time: 600
hysteresis: 5
heating_gain: 2

[heater_fan chamber]
pin: PA0
heater: chamber
heater_temp: 60
