[duplicate_pin_override]
pins: nozzle_mcu:PB8, PC0, PB1

#[output_pin fan0]
[output_pin nozzle_fan]
pin: !nozzle_mcu: PB8
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0

#[output_pin fan1]
[output_pin exhaust_fan]
pin: PC0
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0

#[output_pin fan2]
[output_pin side_fan]
pin: PB1
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0
